html {
    /*Reset para REMS - 62.5% = 10px de 16px*/
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/* Globales*/

img {
    max-width: 100%;
}

.contenedor {
    max-width: 1220px;
    margin: 0 auto;
    width: 85%;
}

header {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: rgba(255, 255, 255, 1);
    padding-top: 10px;
}


/** Navagacion Rsponsive **/

.barra {
    overflow: hidden;
}

div.barra a.mobile {
    color: black;
    font-size: 2rem;
    text-align: center;
    display: block;
    padding: 10px;
}

#nav:target {
    max-height: 800px;
}

.navegacion-principal {
    max-height: 0;
    transition: .5s;
}

@media (min-width: 768px) {
    .navegacion-principal {
        max-height: unset;
    }
    .cerrar {
        display: none!important;
    }
    .mobile {
        display: none!important;
    }
}

.site-header {
    text-align: center;
}


/** Navegacion **/

.navegacion-principal a {
    color: gray;
    text-decoration: none;
    font-size: 1.5rem;
    display: block;
    padding: 10px;
    margin: 1px;
}

.navegacion-principal a.active {
    color: #b0c346;
}

@media (min-width: 768px) {
    .navegacion-principal a {
        display: inline-block;
        padding-top: 3rem;
        padding-left: 1rem;
        margin: 0;
        justify-content: flex-start;
    }
}

.navegacion-principal a:hover {
    color: #b0c346;
}


/*** Carrusel *****/

section.carrusel-principal {
    position: relative;
}

div.slider-carrusel {
    width: 100%;
    padding-bottom: 4rem;
}

div.slider-carrusel img {
    width: 180px;
    height: 280px;
    text-align: center;
    margin: 0 auto;
    padding: 2px;
    position: relative;
    filter: brightness(.6);
}

@media (min-width: 768px) {
    div.slider-carrusel img {
        width: 510px;
        height: 560px;
        padding: 1rem;
        position: relative;
    }
    div.slider-carrusel {
        padding: 5rem;
    }
}

.slick-next,
.slick-prev {
    background-color: #b0c364;
    font-size: 1.5rem;
}

@media (min-width: 768px) {
    .slick-prev {
        position: absolute;
        left: 8rem;
        bottom: 20rem;
        z-index: 1;
    }
    .slick-next {
        position: absolute;
        bottom: 20rem;
        left: 101rem;
    }
}

div.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

div.main-container-images {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 0;
}

div.main-container-images-fondo {
    display: flex;
    position: absolute;
    background-color: #ffffffc2;
    width: 310px;
    height: 150px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

div.main-container-images-marco {
    border: 5px solid #b0c364;
    padding: 10px;
    width: 80%;
    margin: 10px;
    align-items: center;
    color: black;
}

div.main-container-images img {
    padding: 10px;
}

@media (min-width: 768px) {
    .tres-columnas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}


/*********************/

div.main-container-images-marco a h5 {
    margin-bottom: 2px;
    color: #b0c364;
    font-size: 1rem;
}

div.main-container-images-marco a h3 {
    margin-top: 2px;
}

.main-container-images-marco a {
    text-decoration: none;
    color: black;
}

.main-container-images-marco a:hover {
    text-decoration: none;
}


/** Seccion Inferior Cesar**/

.seccion-inferior {
    padding-bottom: 100px;
    padding-top: 100px;
}

@media (min-width: 768px) {
    .seccion-inferior {
        display: flex;
        justify-content: space-between;
    }
    .seccion-inferior .blog {
        flex-basis: 72%;
    }
    .seccion-inferior .testimoniales {
        flex-basis: calc(40% - 2rem);
    }
}

.entrada-blog {
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    .entrada-blog {
        display: flex;
        justify-content: space-between;
    }
}

.entrada-blog:last-of-type {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .entrada-blog .imagen {
        flex-basis: 50%;
    }
    .entrada-blog .texto-entrada {
        flex-basis: calc(50% - 3rem);
    }
}

.texto-entrada a {
    color: black;
    text-decoration: none;
}

.texto-entrada h4,
h2,
time.time {
    margin: 0;
    line-height: 1.4;
    text-align: center;
    padding-bottom: 1rem;
}

.texto-entrada span {
    color: #e08709;
}

h4 {
    display: block;
    color: #b0c364;
    font-size: 1.4rem;
    text-transform: uppercase;
}

p {
    color: #7a7a7a;
    font-size: 1.3rem;
    line-height: 1.5em;
    text-align: center;
}

div.texto-entrada time {
    color: #7a7a7a;
    font-size: 10px;
    padding: 5px 10px 20px 10px;
    display: block;
    text-align: center;
    font-size: .8rem;
}

div.card-horizontal-button {
    text-align: center;
    padding-top: 2rem;
}

div button {
    background-color: #b0c364;
    color: white;
    font-weight: bold;
    padding: 15px 40px 15px 40px;
    border: none;
    text-transform: uppercase;
}

div button:hover {
    background-color: #b0c364b9;
    color: white;
}


/***************** VANE ********************/


/* 
section.mainn {
    display: grid;
    grid-template-columns: 80% 20%;
    column-gap: 3rem;
}

div.two-columns {
    display: grid;
    grid-template-columns: 45% 55%;
    column-gap: 1.5rem;
    margin-top: 4%;
}

div.rightt div.two-columns {
    margin-top: 10%;
}

section.mainn img {
    width: 100%;
    max-width: 100%;
}

div.second-containerr {
    margin-top: -5%;
}

div.second-containerr p {
    color: #b0c346;
    font-size: 18px;
    font-weight: 900;
    text-align: start;
}

div.second-containerr span.green {
    font-weight: bolder;
    font-size: 25px;
}

div.left div.two-columns time {
    color: #7a7a7a;
    font-size: 13px;
    font-weight: bolder;
    padding: 0;
    display: block;
    margin-top: 1%;
}

div.second-containerr p.gray {
    color: #7a7a7a;
    font-size: 16px;
    margin-top: 10%;
    font-weight: lighter;
}

div.rightt div.two-columns span {
    font-size: 11px;
    font-weight: bold;
}

div.rightt div.two-columns time {
    font-size: 9px;
    color: #7a7a7a;
    font-weight: 600;
    padding: 0;
    margin-top: 10%;
    display: block;
}

div.rightt div.two-columns div.two {
    margin-top: -6%;
}

@media screen and (max-width: 768px) {
    section.mainn {
        display: grid;
        grid-template-columns: 100%;
        margin-top: 45%;
    }
    div.second-containerr {
        display: grid;
        grid-template-columns: 100%;
    }
    div.left div.two-columns {
        display: grid;
        grid-template-columns: 100%;
    }
    div.rightt div.two-columns img {
        width: 90%;
    }
    div.rightt div.two-columns time {
        margin-top: 2%;
    }
    div.rightt div.two-columns {
        margin-top: 4%;
    }
    div.left div.two-columns div.one img {
        width: 40%;
    }
} */


/* 
/* /* * { 
    font-family: "Montserrat", sans-serif;
} */

section.main {
    display: grid;
    grid-template-columns: 80% 20%;
    column-gap: 2rem;
    max-width: 1220px;
    margin: 0 auto;
    width: 85%;
}

.first,
.second-container {
    padding-bottom: 2rem
}

div.two-columns {
    display: grid;
    grid-template-columns: 40% 60%;
    column-gap: 1.5rem;
    margin-top: 2.5%;
}

section.main img {
    width: 100%;
    max-width: 100%;
}

div.second-container {
    margin-top: -4.7%;
}

div.second-container h3 {
    color: #b0c346;
    font-size: 1rem;
    font-weight: 700;
    margin: 1.8rem 0 0 0;
    text-transform: uppercase;
}

div.second-container h1 {
    font-weight: bolder;
    font-size: 1.5rem;
    margin: 1rem 7rem 1rem 0;
}

div.left div.two-columns time {
    color: #7a7a7a;
    font-size: 12px;
    font-weight: bolder;
    padding: 0;
}

div.second-container p.gray {
    color: #7a7a7a;
    font-size: 1.2rem;
    margin: 1rem 5rem 0 0;
    font-weight: lighter;
    text-transform: none;
}

div.right div.two-columns span {
    font-size: 15px;
}

div.right div.two-columns time {
    font-size: 9px;
    color: #7a7a7a;
    font-weight: 600;
    padding: 0;
    margin-top: 10%;
}

@media screen and (max-width: 768px) {
    section.main {
        display: grid;
        grid-template-columns: 100%;
        margin: 0 auto;
    }
    div.second-container {
        display: grid;
        grid-template-columns: 100%;
    }
    div.left div.two-columns {
        display: grid;
        grid-template-columns: 100%;
    }
    div.right div.two-columns img {
        width: 90%;
    }
    div.right div.two-columns time {
        margin-top: 2%;
    }
    div.right div.two-columns {
        margin-top: 4%;
    }
    div.left div.two-columns div.one img {
        width: 40%;
    }
    div.second-container h3 {
        margin: 1rem auto;
        text-align: center;
    }
    div.second-container h1 {
        margin: 1rem auto;
        text-align: center;
    }
    div.second-container p.gray {
        text-transform: none;
        text-align: center;
        margin: .5rem auto;
    }
    div.second-container time {
        text-align: center;
    }
}


/* API */

section.columnas-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 758px) {
    section.columnas-section {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
}

section.cnt div.imagenes img {
    width: 100%;
}

section.cnt div.imagenes {
    padding-bottom: 0px;
}

section.cnt {
    margin: 0 auto;
    width: 85%;
    padding-top: 4%;
}

footer p {
    font-size: 20px;
    margin-top: 2rem;
    text-align: start!important;
}


/* Pagina Details */


/* 1rasection */

@media (min-width: 768px) {
    div.tres-columnas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .contend {
        margin: 1rem;
    }
}

.section1 {
    background-color: #b0c346;
    padding: 50px;
    margin-bottom: 20px;
}

.section1 h1 {
    color: white;
    font-size: 17px;
}

.section1 i {
    width: 100%;
    color: black;
    padding: 1rem;
}

.section1 i span {
    color: white;
    font-weight: initial;
}

.section1 div {
    width: 100%;
    border-bottom: 1px solid gray;
}

.section1 div:nth-child(4) {
    border: none;
}


/*  */


/* Cesar */

.grid-container {
    display: grid;
    grid-gap: 0px;
    background-color: rgb(208, 228, 245);
    padding: 5px;
}

.grid-container div {
    font-size: 14px;
    padding: 20px 25px;
    border-bottom-color: gray;
    border-bottom-width: thin;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
}


/* INGREDIENTES */

div .grid-title {
    grid-column: 1 / span 2;
    font-weight: bolder;
    text-align: left;
    margin-left: 20px;
    font-size: 20px;
    border-bottom: none;
}


/* CONTENIDO */

div .grid-container-detail .item2 .item4 .item6 .item8 .item10 .item12 .item14 {
    justify-self: center;
    align-self: center;
    align-items: center;
}


/* section 3 */

.card-image {
    padding: 50px;
    background-color: rgba(179, 177, 177, 0.205);
}

.card-image img {
    border-radius: 50%;
}

.card-image p {
    text-align: center;
    color: grey;
    font-size: 1rem;
}

.card-image p span {
    color: black;
}

.text {
    font-family: "Montserrat", sans-serif;
}

.text h3 {
    color: #b0c346;
    font-size: 1rem;
}

.text h1 {
    font-size: 1.7rem;
}

.text h5 {
    color: gray;
}

.text-1 h2 {
    text-align: start;
}

.one img {
    width: 100%;
}

.two h5 {
    font-size: .8rem;
    margin: 0;
}

.two time {
    text-transform: uppercase;
}


/*  */


/* Category */

.sep {
    padding: 80px;
}

button.btnn {
    width: 50px;
    padding: 1rem;
    margin-top: 10%;
    border: none;
    display: inline;
    background-color: rgba(217, 232, 236, 0.644);
    color: gray;
}

button.btnn:hover {
    background-color: #b0c346;
    color: white;
}


/*  */