@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
html {
    /*Reset para REMS - 62.5% = 10px de 16px*/
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "Montserrat", sans-serif;
}


/* Globales*/

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

.contenedor {
    max-width: 1220px;
    margin: 0 auto;
    width: 85%;
}

header {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: rgba(255, 255, 255, 1);
    padding-top: 10px;
}


/** Navagacion Rsponsive **/

.barra {
    overflow: hidden;
}

div.barra a.mobile {
    color: black;
    font-size: 2rem;
    text-align: center;
    display: block;
    padding: 10px;
}

#nav:target {
    max-height: 800px;
}

.navegacion-principal {
    max-height: 0;
    transition: .5s;
}

@media (min-width: 768px) {
    .navegacion-principal {
        max-height: unset;
    }
    .cerrar {
        display: none!important;
    }
    .mobile {
        display: none!important;
    }
}

.site-header {
    text-align: center;
}


/** Navegacion **/

.navegacion-principal {
    text-align: initial;
}

.navegacion-principal a {
    color: #504f4f;
    text-decoration: none;
    font-size: 1.3rem;
    display: block;
    padding: 10px;
    margin: 1px;
    font-weight: bold;
    text-align: center;
}

.navegacion-principal a.active {
    color: #b0c346;
}

@media (min-width: 768px) {
    .navegacion-principal a {
        display: inline-block;
        padding-top: 3rem;
        padding-left: 1rem;
        margin: 0;
        justify-content: flex-start;
    }
}

.navegacion-principal a:hover {
    color: #b0c346;
}


/*** Carrusel *****/

section.carrusel-principal {
    position: relative;
}

div.slider-carrusel {
    width: 100%;
    padding-bottom: 4rem;
}

div.slider-carrusel img {
    width: 100%;
}

@media (min-width: 768px) {
    .slick-slider img {
        width: 100%;
        height: 60vh;
    }
    .slick-slide {
        padding: 10px;
    }
}

.slick-prev:hover,
.slick-next:hover {
    background-color: #b0c3649b;
}

.slick-prev {
    background-color: #b0c346;
    border: 1px solid #b0c346;
    color: white;
    padding: 1%;
    display: inline-block;
    left: 0.5%;
    z-index: 1;
}

.slick-next {
    background-color: #b0c346;
    border: 1px solid #b0c346;
    color: white;
    padding: 1%;
    display: inline-block;
    right: 0.5%;
}

.slick-arrow {
    top: 50%;
    margin-top: -2%;
    position: absolute;
    cursor: pointer;
    background-repeat: no-repeat;
}


/*Cards*/

div.main-container-card {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

div.main-container-images-fondo-carr {
    display: flex;
    position: absolute;
    background-color: #ffffff;
    width: 60%;
    align-items: center;
    justify-content: center;
    opacity: 0;
    padding: 4%;
}

div.main-container-images-marco-carr {
    border: 2.5px solid #b0c364;
    padding: 10px;
    width: 25rem;
    height: 18rem;
    text-align: center;
}

@media screen and (max-width: 768px) {
    div.main-container-images-fondo-carr {
        opacity: 1;
    }
}

.main-container-images-marco-carr h5 {
    color: #b0c364;
    font-size: 1rem;
    margin-top: 3rem;
}

.main-container-images-marco-carr h4 {
    color: #504f4f;
    font-size: .6rem;
}

.main-container-images-marco-carr a {
    text-decoration: none;
    color: black;
}

.main-container-images-marco-carr a:hover {
    text-decoration: none;
}

.slick-current+.slick-active div.main-container-images-fondo-carr {
    opacity: 1;
}


/* card Carrusel */


/* Ismael */

div.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

div.main-container-images {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 0;
}

div.main-container-images-fondo {
    display: flex;
    position: absolute;
    background-color: #ffffffe3;
    width: 80%;
    height: 200px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 2%;
}

div.main-container-images-marco {
    border: 3px solid #b0c364;
    width: 95%;
    height: 93%;
    align-items: center;
    color: black;
    font-size: 1.3rem;
}

div.main-container-images img {
    padding: 5px;
    width: 100%;
    height: 20rem;
}

@media (min-width: 768px) {
    .tres-columnas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

div.main-container-images-marco a h5 {
    color: #b0c364;
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: bold;
}

div.main-container-images-marco a h3 {
    margin-top: 2px;
}

.main-container-images-marco a {
    text-decoration: none;
    color: black;
}

.main-container-images-marco a:hover {
    text-decoration: none;
}


/** Seccion Inferior Cesar**/

.seccion-inferior {
    padding-top: 10%;
}

@media (min-width: 768px) {
    .seccion-inferior {
        display: flex;
        justify-content: space-between;
    }
    .seccion-inferior .blog {
        flex-basis: 72%;
    }
    .seccion-inferior .testimoniales {
        flex-basis: calc(40% - 2rem);
    }
}

.entrada-blog {
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    .entrada-blog {
        display: flex;
        justify-content: space-between;
    }
}

.entrada-blog:last-of-type {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .entrada-blog .imagen {
        flex-basis: 50%;
    }
    .entrada-blog .texto-entrada {
        flex-basis: calc(50% - 3rem);
    }
}

.texto-entrada a {
    color: black;
    text-decoration: none;
}

div.texto-entrada h4,
h2,
p {
    line-height: 1.4;
    text-align: center;
    padding-bottom: 1rem;
}

.texto-entrada span {
    color: #e08709;
}

div.texto-entrada h4 {
    display: block;
    color: #b0c364;
    font-size: 1.4rem;
    text-transform: uppercase;
}

div.texto-entrada p {
    color: #7a7a7a;
    font-size: 1.3rem;
    line-height: 1.5em;
}

div.texto-entrada time.time {
    color: #7a7a7a;
    font-size: 10px;
    padding: 5px 10px 20px 10px;
    display: block;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}

div.card-horizontal-button {
    text-align: center;
    padding-top: 2rem;
}

div.card-horizontal-button button {
    background-color: #aec23c;
    border: #aec23c;
    color: white;
    font-weight: bold;
    padding: 3%;
    padding-left: 4%;
    padding-right: 4%;
    cursor: pointer;
}

div.card-horizontal-button button a {
    color: white;
    font-weight: bold;
    border: none;
    text-transform: uppercase;
}

div.card-horizontal-button button:hover {
    background-color: #b0c364bd;
    color: white;
    text-decoration: none;
}

.grid-container {
    display: grid;
    grid-gap: 0px;
    background-color: rgb(208, 228, 245);
    padding: 5px;
}

.grid-container div {
    font-size: 14px;
    padding: 20px 25px;
    border-bottom-color: gray;
    border-bottom-width: thin;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
}


/* INGREDIENTES */

div .grid-title {
    grid-column: 1 / span 2;
    font-weight: bolder;
    text-align: left;
    margin-left: 20px;
    font-size: 20px;
    border-bottom: none;
}


/* CONTENIDO */

div .grid-container-detail .item2 .item4 .item6 .item8 .item10 .item12 .item14 {
    justify-self: center;
    align-self: center;
    align-items: center;
}


/***************** VANE ********************/

.main {
    display: grid;
    grid-template-columns: 70% 30%;
    column-gap: 3rem;
    margin-top: 10%;
}

.left .two-columns {
    display: grid;
    grid-template-columns: 45% 55%;
    column-gap: 1.5rem;
    margin-bottom: 5%;
}

.main img {
    width: 100%;
    max-width: 100%;
}

.second-container {
    margin-top: -5%;
}

.second-container p {
    color: #b0c346;
    font-size: 17px;
    font-weight: 900;
    text-align: start;
}

.second-container .green {
    font-weight: bolder;
    font-size: 18px;
}

.left .two-columns time {
    color: #7a7a7a;
    font-size: 12px;
    font-weight: bolder;
    padding: 0;
    display: block;
    margin-top: 1%;
}

.second-container p.gray {
    color: #7a7a7a;
    font-size: 17px;
    margin-top: 13%;
    font-weight: lighter;
}

.right .two-columns {
    display: grid;
    grid-template-columns: 35% 65%;
    column-gap: 1rem;
    margin-bottom: 5%;
}

.right .two-columns #content {
    margin-top: -5%;
}

.right .two-columns #content p {
    font-size: 12px;
    font-weight: bold;
    line-height: 0.8rem;
    white-space: initial;
    width: 68%;
    text-align: start;
}

.right .two-columns #content time {
    font-size: 10px;
    color: #7a7a7a;
    font-weight: bold;
    white-space: initial;
    width: 100%;
    display: block;
    margin-top: -1%;
}

@media screen and (max-width: 768px) {
    .main {
        display: grid;
        grid-template-columns: 100%;
        margin-top: 30%;
    }
    .second-container {
        display: grid;
        grid-template-columns: 100%;
    }
    .left .two-columns {
        display: grid;
        grid-template-columns: 100%;
    }
    .right .two-columns img {
        width: 90%;
    }
    .right .two-columns time {
        margin-top: 2%;
    }
    .right .two-columns {
        margin-top: 4%;
    }
    .left .two-columns .one img {
        width: 40%;
    }
}


/* API */

section.columnas-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 758px) {
    section.columnas-section {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
}

section.cnt div.imagenes img {
    width: 100%;
}

section.cnt div.imagenes {
    padding-bottom: 0px;
}

section.cnt {
    margin: 0 auto;
    width: 90%;
    padding-top: 4%;
}

footer p {
    font-size: 20px;
    margin-top: 5rem;
    text-align: start!important;
    color: #7a7a7a;
}


/*  */


/* Category */

.sep {
    padding: 80px;
}

.btnn {
    width: 50px;
    padding: 1rem;
    margin-top: 10%;
    border: none;
    display: inline;
    background-color: rgba(217, 232, 236, 0.644);
    color: gray;
}

.btnn:hover {
    background-color: #b0c346;
    color: white;
}


/*  */